
.Contenedor-Logos-Superior, .Contenedor-Logos-Inferior {
    position: absolute;
    display: grid;
    gap: 12rem;
    grid-auto-rows: 10%;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(20%,1fr));
    margin: 0;
    padding: 0;    
    place-items: center;
    align-items: center; 
    overflow: hidden;
    height: 60vh;
    padding-top: 20vh;
    padding-right: 5%;
    padding-left: 5%;   
  }
  
  .contenedor-principal{
    width: 100%;
    height: 88vh;    
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;  
    justify-items: center;
    align-items: center;  
    

  }
  
  img {
    object-fit: cover;    
    max-height: 100%; 
    max-width: 100%;
  }
  .Contenedor-Logos-Superior{
    z-index: 100;
  }
  .inferior{
    z-index: 85;
    filter: blur(30px); 
  }
 
