*{
    color:black
}

.contenedor-contenido{
    display: grid;    
    grid-template-columns: 35%  35%;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

/* .contenedor-logo{
    display: grid;  
    grid-template-columns: 73%;
    justify-content: center;
} */

mat-form-field{
    margin: 3%;
}

