*{
    color: #D9D9D9;
    margin: 0;
    padding: 0;
}

.card-encuentro{
    display: grid;
    grid-template-rows: 25px 185px;
    justify-items: end;
}

.contenedor-vs{
    display: grid; 
    width: 100%;
    grid-template-columns: auto auto auto;
    align-items: center;   
    justify-items: center;
    border-radius: 0.45rem;
    border-radius: 0.8rem;      
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.566);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(15px);
}

img{
    width: 128px;
    height: 128px;
    pointer-events: none;
}

img.otro-equipo{
    margin: 9px;
    width: 110px;
    height: 110px;  
}

.contenedor-izquierdo{  
    margin: 5%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}


.contenedor-derecho{    
    display: flex;   
    flex-direction: column;   
    align-items: center; 
    font-size: 80%;
}

.contenedor-central{    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-items: baseline;
    font-size: 80%;    
}

