
*{
    color:black
}

.contenedor{
    width: 40%;
   display: flex;   
   flex-direction: column;
   position: absolute;
   top: 25%;
   right: 30%;
   color: rgba(0, 0, 0, 0.945);
}

.celda-usuario, .celda-tag{   
    width: 35%;
}

.celda-id{
    width: 10%;
}

.boton{
    background: transparent;
    border: none;
}

.celda-acciones{      
    text-align: end;
    align-content: end;
    margin: 10px;  
}

mat-form-field{
    opacity: 0.8;
}
