.contenedor{
  width:24vw; 
  height:79vh; 
  margin: 0;

}

 .card-Personaje {
  height: 100%;
  width: 100%;
  max-width:83%;
  box-sizing: border-box;  
  border-radius: 0.8rem;
  position: absolute;
  transform-style: preserve-3d; 
} 


.contenedor:hover > .front  {
  transform: rotateY(180deg)  
}   

 .contenedor:hover > .back{
  transform: rotateY(0deg)  
} 

.front{ 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  backface-visibility: hidden;  
  transition:  1500ms ;
} 

.back{    
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  transition:  1500ms ;
}

.headerCarta {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: 20px; 
      color: #D9D9D9;
      font-family: Inter;
      font-size: 120%;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0;
}

.estiloEpigrafe{
  color: #D9D9D9;
  font-family: Inter;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;

}

.textoEstadisticas{
  color: #D9D9D9;
  font-family: Inter;
  font-size: 0.5rem;
  text-align: center;
}

.footerCarta{
  color: #D9D9D9;
  font-family: Inter;
  font-size: 0.8rem;
  text-align: center;
  font-style:oblique ;   
   position: absolute;
  bottom: 0%;   
}

.contenedor-estadisticas{
  margin-top: 5vh;
  display: flex;
}

.imagenRango{
  max-width: 50%; 
  height: 25%;
}

.imagenAgente{
  max-width: 200%; 
  height: 90%; 
  object-fit: cover;   
}
