
.header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
}

.button {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem;
    margin: 1rem ;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color:unset;
}

.button:last-child{
    margin-right: 3rem;
}

