<div class="header">
    <button routerLink="/home" routerLinkActive="active" class="button">INICIO</button>
    <button routerLink="/equipo" routerLinkActive="active" class="button">EQUIPO</button>
    <button routerLink="/estadisticas" routerLinkActive="active" class="button">ESTADÍSTICAS</button>
    <button routerLink="/sponsors" routerLinkActive="active" class="button">SPONSOR</button>
    <!-- <button routerLink="/sponsor" routerLinkActive="active" class="boton-adm button">ADMINISTRACION 
        <div class="opciones">
            <button routerLink="/estadisticas" routerLinkActive="active" class="button">SPONSOR</button>
            <button routerLink="/estadisticas" routerLinkActive="active" class="button">SPONSOR</button>
        </div>
    </button> -->

     <button class="button adm">ADMINISTRACION
         <div class="submenu">
            <button routerLink="/sponsorABM" routerLinkActive="active" class="boton-submenu">SPONSORS</button>
            <button routerLink="/noticiaABM" routerLinkActive="active" class="boton-submenu">NOTICIAS</button>
            <button routerLink="/jugadorABM" routerLinkActive="active" class="boton-submenu">JUGADORES</button>
        </div>           
    </button> 
  

</div>


