.contenedor-general{
    display: flex; 
    justify-content: center;
    align-content: center; 
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1% ;
    background: transparent    !important;
}

.swiper{   
    padding-left: 5%;
   
}



