.contenedor-general{
    display: flex; 
    justify-content: center;
    align-content: center; 
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background: transparent    !important;
}

 /* .swiper, .swiper-wrapper, .swiper-slide{   
 background: transparent    !important;
   
}
 */


