section{
    background: transparent;
}

.body{
    width: 100vw;
    height: 88vh; 
}

.container{
    display: flex; 
   justify-content: center;
   align-content: center; 
} 

.swiper{  
    display: flex;
    max-width: 88vw;    
   padding-left: 6vw;
   padding-right: 6vw;

 /*   justify-content: center;    
    align-content: center;  
    text-align: center;
 */
    
   
}




