 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
<div class="contenedor-general"> 
<div class="swiper">
  <div class="swiper-wrapper" >    
   <div *ngFor="let jugador of jugadores" class="swiper-slide">
    <app-card-personaje [jugador]="jugador"></app-card-personaje>  
  </div>          
</div> 

</div>
 <div class="swiper-button-prev"></div>
 <div class="swiper-button-next"></div>   
 <div class="swiper-pagination"></div> 
</div>

