body{
    height: 88vh;
    overflow: hidden;
}

.estadisticas{
   flex: 1;
}

.contenedor-jugador{
    display:flex;
    justify-content: center;
    float: left;
    width: 50%;
  
}
img.agente{
    width: 43%;
    height: auto;
}

.contenedor-jugador--estadisticas{
    display: flex;
    float: right;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

h3.jugador{
    text-align: right;
    margin-right: 8rem;
}

button.btn-fav{
    color:white;
    width: 25%;
    height: 1.7rem;
    border-radius: 0.8rem;
    border: 1px solid #7BFF88;
    background: rgba(61, 59, 59, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-self: center;
    margin: 2%;
}

button.btn-fav:hover{
    background: rgba(30, 29, 29, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.377);
}