.contenedor-background, .circulo{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vh;
    height: 100%;   
}

.contenedor-background{
    z-index: 100;
    background-color: #7bff8843;    
}

.circulo{
    background-color: #ffa57b43;
    border-radius: 75%;
    z-index: 101;
}


.swiper{
    z-index: 105;
    width: 100%;
}


.contenedor-background:hover{
    background-color: rgb(83, 22, 22);
}

.contenedor-background:hover::before{
    transition: all ease-in-out .3s;
    transform: scale(1.1);
    background-color: #7bff8882;
}



