
<body>
    <div class="contenedor-background">
        <div class="circle" #circle></div>
        <div class="estadisticas">
            <swiper-container loop="true" centered-slides="true" zoom="true" >
                <swiper-slide [id]="id" *ngFor="let id of jugadorIds">
                    <div class="contenedor-jugador">
                        <img class="agente" #agenteImg (mouseover)="scaleCircle()"  src="/assets/VIPER.png" alt="">
                    </div>
                    <div class="contenedor-jugador--estadisticas">
                        <h3 class="jugador">Mauro Sander</h3>
                        <app-last-game  *ngFor="let i of list"></app-last-game>
                        <button class="btn-fav">Marcar como preferido</button>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</body>