.contenedor-background, .circulo{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100%;   
}

.contenedor-background{
    z-index: 2;
    backdrop-filter: blur(350px);
    -webkit-backdrop-filter: blur(350px);
}

.circulo{
    border-radius: 50%;
    height: 55%;
    width: 30%;
    z-index: 1;
    top: 5%;
    left: 8%;    
}


.swiper{
    z-index: 3;
    width: 100%;
}




