<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
 -->

 <div  class="contenedor-principal">
    <div class="contenedor-home">
        <div class="contenedor-nombre">
            <div class="titulo-p1">
                <h1>THE</h1>
                <span class="spacer"></span>
            </div>
            <div class="titulo-p2">
                <h1> <strong>BOAT</strong></h1>
                <img src="../assets/theboat.gif">
            </div>
            
        </div>
    </div>

    <div class="contenedor-encuentros" >
        <h1>PRÓXIMOS ENCUENTROS</h1>
        <div class="swiper">
            <div class="swiper-wrapper" >    
                <div *ngFor="let encuentro of encuentros" class="swiper-slide">
                    <app-encuentro [encuentro]="encuentro"></app-encuentro>  
                </div>          
            </div> 
            <div class="swiper-pagination"></div> 
        </div>  
    </div> 

</div> 



    


<!-- *ngFor="let encuentro of encuentros"  -->


<!-- 
<div class="swiper">
    <div class="swiper-wrapper" >    

        <div *ngFor="let encuentro of encuentros" class="swiper-slide" > 
            <app-encuentro [encuentro]="encuentro"></app-encuentro>  
        </div>       
     
    </div>


    <div class="swiper-pagination"></div>
</div>
</div>  -->