*{
    margin: 0;
    padding: 0;
}

.contenedor-principal{
    width: 100vw;
    height: 80vh;
    display: flex;
}

.contenedor-home{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto   auto;
    width: 60vw;
     
}

.spacer {
    flex: 1 1 auto;
}
.contenedor-nombre{
    display: flex;
    flex-direction: row;
}

.titulo-p2{
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.titulo-p2 img{
    display: block;
    position: absolute;
    top: 25%;
    margin-top: 0;
    width: 500px;
}


.contenedor-nombre h1{
    color: #D9D9D9;
    font-family: Inter;
    font-size: 11.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

}

.contenedor-encuentros{  
    height: 220px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    margin-right: 1%;
    margin-bottom: 2%;
}

.contenedor-encuentros h1{
    margin-bottom: 3%;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;   
}

.swiper{
    width: 100%;
    height: 100%;
}



