h1{
    color: #D9D9D9;
    font-family: Inter;
    font-size: 11.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    
}

.animacion{
    position: relative;
    margin-top: 1.53rem;
}

img{
    position: absolute;
    width: 28%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
