*{
    color:black
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important; /* Añadido para centrar horizontalmente */
    align-items: center;
}

mat-form-field{
    margin-top: 2%;
    width: 80%;
    align-self: center;
}