 
 *{
    color: #D9D9D9;
 }

 .contenedor-general{
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: auto;
    width: 100%;
    height: 80vh;
 }

 .contenedor-jugador{    
     float: left;
     width: 100%;
     height: 80vh;
     position: relative;
 }

 .contenedor-jugador-estadisticas{
    display: grid;
    grid-template-rows: 12% 15% 15% 15% 15%;
    float: right;
    width: 100%;
}

.datos-jugador{
    text-align: right;
    margin-right: 17vw;
    margin-bottom: 1%;
}
 
 
 .contenedor-jugador::before{
     border-radius: 50%;
     width: 10%;
     height: 75%;
     top: 12%;
     left: 18%;
 }

 
 
 img.agente{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -55%);
     width: auto;
     height: 110%;
 }
 
 h3{
    font-weight: 400;
}

