<div class="contenedor-principal">
    <div *ngIf="encuentros" class="contendor-general">
      
    
    
      <div class="toolbar"> 
        <span style="color:#D9D9D9">Encuentros</span>
        <span class="spacer"></span>
        <button mat-raised-button (click)="agregar()">Agregar Encuentro</button>
      </div>
    
     <div *ngIf="encuentros.length > 0" class="contenedor-tabla"> 
    
    
        <input matInput (keyup)="applyFilter($event)"  autocomplete="off" #input placeholder="Filtrar Encuentros"> 
    
     <table  mat-table [dataSource]="dataSource" class="tabla" >
    
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef class="celda-id"> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef class="celda-fecha"> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{funcionesService.formatearFecha(element.fecha, true)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="rival" >
          <th mat-header-cell *matHeaderCellDef class="celda-rival"> Rvival </th>
          <td mat-cell *matCellDef="let element"> {{element.rival}} </td>
        </ng-container>

        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Logo </th>
            <td mat-cell *matCellDef="let element" class="celda-logo">  <img class="imagen-logo" src="{{element.imagenRival}}" alt="No hay url de logo válida"> </td>
          </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="celda-acciones"> Acciones </th>
            <td mat-cell *matCellDef="let jugador" class="celda-acciones" > 
                 <button (click)="editar(jugador)" class="boton"><mat-icon matTooltip="Editar un usuario">edit-box</mat-icon ></button>
                 <button (click)="borrar(jugador.id)" class="boton"><mat-icon matTooltip="Borrar un usuario">delete</mat-icon></button>        
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
      </table> 
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>  
     </div> 
      
     <div *ngIf="encuentros.length == 0" class="sin-encuentros">
      <h1 style=" color:#D9D9D9">No hay usuarios para mostrar</h1>
    </div> 
      
    </div>
    </div>