/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: rgba(30, 30, 30, 0.75);
    backdrop-filter: blur(205px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    width: 100vw;
    height: 100vh;    
}
